/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* LAYOUT */
.container {
    background-color: #1E2D3B;
    height: 100vh;
}
/* LOGO */
.container .logo {
    padding: 10px;
    height: 50px;
    background-color: #2E3A46;
}

.container .logo img {
    max-height: 100%;
}
/* FILTER */
.container .filter {
    text-align: center;
    color: #fff;
    padding: 50px;
}
/* CATALOG */
.container .catalog {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px;
}