/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h2,
h5 {
    color: #fff;
    margin-bottom: 10px;
}

h3,
h4 {
    color: #808080;
    margin-bottom: 10px;
}
/* LAYOUT */
.container {
    background-color: #1E2D3B;
    min-height: 100vh;
}
/* LOGO */
.container .logo {
    padding: 10px;
    height: 50px;
    background-color: #2E3A46;
}

.container .logo img {
    max-height: 100%;
}
/* FILTER */
.container .filter {
    text-align: center;
    color: #fff;
    padding: 50px;
}

.container .filter select {
    margin-left: 10px;
    border-radius: 4px;
}
/* CATALOG */
.container .catalog {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.container .catalog li {
    flex-basis: 200px;
    background-color: #2E3A46;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container .catalog li .poster {
    min-height: 180px;
}

.container .catalog li .poster img {
    width: 100%;
}